<body class="public-body">
  <%= @user.name %>
  <p>お気に入りチーム</p>
  <%= @user.team.name %>

  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <%= f.text_area :post %>
    <%= f.submit '投稿' %>
  <% end %>
</body>
