<body class="body">
  <div class="registaration">
    <h2>会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :size=>"40", class: :textbox %>
      </div>

      <div class="field">
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40", class: :textbox %>
      </div>

      <div class="field">
        <%= f.label :お気に入りチーム %><br />
        <%= f.select :team_id, options_from_collection_for_select(Team.all, :id, :name), class: :textbox %>
      </div>

      <div class="field">
        <%= f.label :パスワード%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :size=>"40", class: :textbox %>
      </div>

      <div class="field">
        <%= f.label :パスワード（確認用） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"40", class: :textbox %>
      </div>

      <div class="actions">
        <%= f.submit "会員登録" %>
      </div>
    <% end %>
  </div>
</body>

