<!DOCTYPE html>
<html>
  <head>
    <title>Minsaka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  </head>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">みんなのサッカー</a>
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
          <!--    arita-conntrols="navbarNavDropdown" arita-expanded="false" arita="Toggle navigation">-->
          <!--  <span class="navbar-toggler-icon"></span>-->
          <!--</button>-->

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
              <div class="search_form">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word %>
                  <%= f.select :range, options_for_select([['会員'], ['投稿']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-link mr-5" %>
                <% end %>
              </div>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'Profile', user_path(current_user.id) %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'All Members', posts_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'Team Mates', root_path %>
                </button>
              </li>
              <!--<li class="nav-item">-->
              <!--  <button type="button" class="btn btn-link mr-5">-->
              <!--    <%= link_to 'Follows', user_relationships_path(current_user.id) %>-->
              <!--  </button>-->
              <!--</li>-->
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'About', about_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
                </button>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'Teams', admin_teams_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'Users', admin_users_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'Posts', admin_root_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-lightmr-5">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
                </button>
              </li>
            <% else %>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'Log in', new_user_session_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link mr-5">
                  <%= link_to 'About', about_path %>
                </button>
              </li>
              <!--<li class="nav-item">-->
              <!--  <button type="button" class="btn btn-light mr-5">-->
              <!--    <%#= link_to '新規登録', new_customer_registration_path %>-->
              <!--  </button>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
              <!--  <button type="button" class="btn btn-light mr-5">-->
              <!--    <%#= link_to 'ログイン', new_customer_session_path %>-->
              <!--  </button>-->
              <!--</li>-->
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
